
@font-face {
    font-family: "Loew";
    src: url(Loew-ExtraBold.otf);
}
@font-face {
    font-family: "lib";
    src: url(Libertad-Office.otf);
}

body {
    text-align: center;
    padding-right: 200px;
    padding-left: 200px;
    background-color: #1b242b;
}

h2.titulo {
    color: #ecc74b;
    font-family: "Loew", "Courier New", monospace;
    letter-spacing: -1px;
}
img{
    align-content: center;
    padding-left: 30px;
    padding-right: 30px;
}

p.p1 {
        position: relative;
        top: -15px;
        color: #ffffff;
        font-family: "lib","Courier New", monospace;
        font-size:medium;
}

h3.deta{
    font-family: "Loew", "Courier New", monospace;
    color: #ecc74b;
}


p.p2 {
    font-family: "lib","Courier New", monospace;
    font-size:14px;
    color: #ffffff;
    position: relative;
    top: -30px;
}

ul{
    font-family: "lib","Courier New", monospace;
    font-size:14px;
    color: #ffffff;
    display: inline-block;
    text-align: left;
    position: relative;
    top: -20px;
}

.lista1{
    left: -30px;
}

.lista2{
    left: 10px;
}

.lista3{
    left: 40px;
}

.lista4{
    left: -30px;
}

.lista5{
    left: 0px;
}


h3.contato{
    font-family: "Loew", "Courier New", monospace;
    color: #ecc74b;
}

p.p3{
    font-family: "lib","Courier New", monospace;
    font-size:14px;
    color: #ffffff;

}

h3.links{
    font-family: "Loew", "Courier New", monospace;
    color: #ecc74b;
}



img.fc{
    padding-right: 30px;
    padding-left: 30px;
}







