
@font-face {
    font-family: "Loew";
    src: url(../fonts/Loew-Bold.otf);
}
@font-face {
    font-family: "lib";
    src: url(../fonts/Libertad-Office.otf);
}
body{
    background-color: #100549;
    margin: 0px;
}




.whatline{

    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 0px;
    color: white;
    background-color: #1CE656;
    padding: 13px;
    border-radius: 10px;
    width: 200px;
    gap: 5px;
    text-align: center;
    height: 20px;

}
.rodape {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.whatss{
    
    
    height: 30px;
    margin-top: -4px;
}

.head{


    display: flex;
    background-color: #100549;
    justify-content: center; 
}

.head p{

    color: white;
    font-family: 'lib', Courier, monospace;
}

.boxlogo{

    align-self: flex-end;
    margin-right: 35px;

}



.cont1{


    margin-top: 30px;
    display:flex;
    gap:40px;
    justify-content: center;
}

.cline1{

    
    text-align: center;
    color: white;
    font-family: 'lib', Courier, monospace;
    padding-left: 15px;
    padding-right: 15px;
}

ul {

    text-align: center;
    list-style-position: inside;
    padding-inline-start: 0;
    list-style: none;
    margin-top: 0px;

}

li {

    margin-top: 3px;
}

.cline2{

    text-align: center;
    color: white;
    font-family: 'lib', Courier, monospace;
}

.cline3{

    margin-top: -10px;
    text-align: center;
    color: #FFFFFF ;
    font-family: 'lib', Courier, monospace;
    background-color: #7C90A0;
    border-radius: 20px;
    width: 340px;
    align-self: center;
    padding: 2px;
    
}

.cont1-cont1,
.cont1-cont2{

    background-color: #96c0e211;
    width: 400px;
    height: 330px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;

}

.image-ct1{
    align-self: center;
    width: 300px;
    border: 1px solid white;
    border-radius: 25px;
}

.head .nome{


    color: white;
    font-family: 'Loew', Courier, monospace;
}

.head button{

    color: rgb(94, 9, 23);
    background-color: white;
}


.line{


    display: flex;
    flex-direction: column;
    background-color: white;
    background-color: #100549;
    margin-top: 0px;
    gap: 0px;
}

.lines1,
.lines2,
.lines3{

    
    align-self: center;
    color: white;
    font-family: 'lib', Courier, monospace;
    margin-bottom: 5px;
    margin-top: 10px;

}

.lines1{

    margin-bottom: 20px;
}
.lines2{

    margin-top: 6px;
}


.buttons1{


    display: flex;
    margin-top: 0px;
    justify-content: center;
    gap: 20px;  
}

button{
    font-size: 23px;
    background-color: white;
    height: 125px;
    width: 175px;
    border-radius: 25px;
    border: white solid 0px;
    margin-top: 15px;
}


.buttons2{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    gap: 20px;
}

p{
    font-family: 'lib', Courier, monospace;
}


.button3{
    font-size: 10px;
    background-color: #ffffff;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    border: white solid 0px;
}

.formm{
    margin-top: 20px;
    text-align: center;
    
}


.n1{
    font-size: 16px;
    color: white;
    margin-bottom: 2px;
    margin-top: 2px;
}

.btbt{

    margin-top: 40px;


}

.logoss{


    display: flex;
    gap: 20px;
    
}

.roda{

    font-family: 'lib', Courier, monospace;
    color: white;
    display: flex;
    gap: 20px;
    
}

.rodape{
    margin-top: 20px;


}

.boxlogo{

    
    height: 130px;
}

.whatline:hover{

    
    padding: 14px;
    font-size: 1.05em;
    
}

.whatline2{

    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 0px;
    color: white;
    background-color: #1CE656;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    gap: 5px;
    text-align: center;
    height: 20px;
}


@media only screen and (max-width: 740px) {




    .cont1{

        flex-direction: column;
        margin-top: 0;
        align-items: center;
    }


    .head{

        display: flex;
        background-color: #100549;
        position:relative;
        top: 0;
        left: 0;
        right: 0;
        justify-content: center;
        align-items: center;
        z-index: 0;
        
    }

    .boxlogo{

        height: 80px;
        text-align: center;
        margin-right: 0px;
    }



    .whatline{

        margin-bottom: 30px;
    }
    .buttons1,
    .buttons2{

        flex-direction: column;
        align-items: center;

    }

    button{
        font-size: 23px;
        background-color: white;
        height: 140px;
        width: 260px;
        border-radius: 25px;
        border: white solid 0px;
        margin-top: 5px;
    }

    .lines1{

        
        text-align: center;
        font-size: 22px;
        width: 360px;
        


    }

    .lines2{

        
        font-size: 22px;
        width: 100vw;
        
    }

    .ffc,
    .fccc{


        height: 60px;

    }

    .line{

        text-justify: auto;

        
    }

    .cont1-cont1,
    .cont1-cont2{

        width: 360px;
    }

    .whatss1{
        
        height: 34px;
        margin-top: -10px;
        margin-left: 10px;
        
    }
    
}