
@font-face {
    font-family: "Loew";
    src: url(../fonts/Loew-Bold.otf);
}
@font-face {
    font-family: "lib";
    src: url(../fonts/Libertad-Office.otf);
}
body{
    background-color: #100549;
    margin: 0px;
}

.rodape {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.head{
    display: flex;
    background-color: #100549;
    gap: 25px;
    top: 10px;
    left: 0;
    right: 0;
    height: 130px;
    justify-content: center;
    align-items: center;
    padding: 5px;
    
}

.head p{

    color: white;
    font-family: 'lib', Courier, monospace;
}

.boxlogo{

    align-self: center;

}

.head .nome{


    color: white;
    font-family: 'Loew', Courier, monospace;
}

.head button{

    color: rgb(94, 9, 23);
    background-color: white;
}


.line{
    display: flex;
    flex-direction: column;
    background-color: white;
    
    background-color: #100549;
    margin-top: 0px;
    gap: 0px;
    

}

.lines1,
.lines2{

    align-self: center;
    color: white;
    font-family: 'lib', Courier, monospace;


}

.lines2{

    margin-top: 5px;
    color:#100549;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    width: 320px;
    text-align: center;


}

.buttons1{


    display: flex;
    margin-top: 0px;
    justify-content: center;
    gap: 20px;  
}

button{
    font-size: 23px;
    background-color: white;
    height: 130px;
    width: 180px;
    border-radius: 25px;
    border: white solid 0px;
    margin-top: 15px;
}


.buttons2{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    gap: 20px;
}

p{
    font-family: 'lib', Courier, monospace;
}


.button3{
    font-size: 10px;
    background-color: #ffffff;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    border: white solid 0px;
}

.formm{
    margin-top: 20px;
    text-align: center;
    
}


.n1{
    font-size: 16px;
    color: white;
    margin-bottom: 2px;
    margin-top: 2px;
}

.btbt{

    margin-top: 40px;


}

.logoss{

    display: flex;
    gap: 20px;
    
}

.roda{

    font-family: 'lib', Courier, monospace;
    color: white;
    display: flex;
    gap: 20px;
    
}



@media only screen and (max-width: 740px) {



    .head{

        display: flex;
        background-color: #100549;
        gap: 25px;
        position:relative;
        top: 0;
        left: 0;
        right: 0;
        height: 200px;
        justify-content: center;
        align-items: center;
        z-index: 0;
        padding: 5px;
    }

    .boxlogo{

        height: 185px;
    }



    .buttons1,
    .buttons2{

        flex-direction: column;
        align-items: center;

    }

    button{
        font-size: 23px;
        background-color: white;
        height: 100px;
        width: 150px;
        border-radius: 25px;
        border: white solid 0px;
        margin-top: 40px;
    }

    .rodape{

        
    }

    .logoss



}

    



